*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 1000px;

}
p {
    font-weight:300;
    color:black;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00000057,#00000057),url(picture/bg.jpg);
    background-size: cover; 
}
.banner .content{
    max-width: 900px;
    text-align: center;

}
.banner .content h2 {
    font-size: 3em;
    color: #fff;
}
.banner .content p {
    font-size: 1 em;
    color: #fff;
    overflow: hidden;
    padding-bottom: 25px;
}
.btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    margin-top: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    overflow: hidden;

}
.btn:hover{
    letter-spacing: 7px;
}
header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;

}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px #111;
}
header .logo{
    color:#fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color:#111;
}
header .logo span {
    color:#ff0157;
}
 
header .navigation {
    position: relative;
    display: flex;

}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight:300;
}
header.sticky .navigation li a{
    color:#111;
}
header .navigation li a:hover{
    color:#ff0157;
}
section{
    padding: 100px;
}
.row{
    position:relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    overflow: hidden;

}

.about .row .content {
    float: left;
     position:relative;
     width:50%;

}
.about .row .image {
    float: right;
     position:relative;
     width:50%;
}
.titleText{
    color:#111;
    font-size: 30pxS;
    font-weight: 300;

}
.titleText span {
    color:#ff0157;
    font-size: 40px;
    font-weight: 700px;

}
.title p {
    text-align: center;
}
.about .row .col50 .imgBx {
    
    width:100%;
    height: 350px;
 
}
.about .row .col50 .imgBx img{
    width:100%;
    height:100%;
    object-fit: cover;
 
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:40px;
}
.menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgb(0,0,0,0.45);
}
.menu .content .box .imgBx {
    position:relative;
    width: 100%;
    height: 300px;
    overflow:hidden;
}
.menu .content .box .imgBx img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition:.3s;
}
.menu .content .box:hover .menuImg{
    transform:scale(1.1);
}
.menu .content .box .text {
    padding: 15px 0 5px;

}
.menu .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

.special .row .content {
    float: left;
     position:relative;
     width:50%;

}
.special .row .image {
    float: right;
     position:relative;
     width:50%;
}
.titleText{
    color:#111;
    font-size: 30pxS;
    font-weight: 300;

}
.titleText span {
    color:#ff0157;
    font-size: 40px;
    font-weight: 700px;

}
.title p {
    text-align: center;
}
.special .row .col50 .imgBx {
    
    width:100%;
    height: 350px;
 
}
.special .row .col50 .imgBx img{
    width:100%;
    height:100%;
    object-fit: cover;
 
}

.expert .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    margin-top: 40px;
}
.expert .content .box {
    width: 250px;
    margin: 15px;
    position:relative
}
.expert .content .box .imgBx {
    position: relative;
    width:100%;
    height:300px;
    overflow: hidden;
    position:relative;
}
.expert .content .box .imgBx .expertsSocial {
    position:absolute;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top:73%;
    
}
.expert .content .box .expertsSocial a{
    display: block;
    margin: 5px;
    padding:5px;
    color:#fff;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    text-decoration:none;
    opacity: 0;
}
.expert .content .box .expertsSocial a:hover{
    background: #fff !important;
    color:#111;
}

.expert .content .box .expertsSocial a:first-child{
    background: #3b5998;
    transition: 0.9s;
}
.expert .content .box .expertsSocial a:nth-child(2){
    background: #00acee;
    transition: 0.7s;
}
.expert .content .box .expertsSocial a:nth-child(3){
    background:#ff3100;
    transition: 0.5s;
}
.expert .content .box .expertsSocial a:last-child{
    background: #db4a39;
    transition: 0.3s;
}
.expert .content .box:hover .expertsSocial a{
    transform:translateY(21px);
    opacity: 1;
}
.expert .content .box:hover .extertImg{
    transform:scale(1.1);
}
.expert .content .box .imgBx img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: .5s;
}
.expert .content .box .text {
    padding: 15px 0 5px;

}
.expert .content .box .text h3 {
    font-weight: 400;
    color: #111;
}
.Testimonials {
    background: linear-gradient(#00000057,#00000057),url(picture/bg1.jpg);
    background-size: cover;
    height: 100%;
    width:100%;
}
.white .titleText {
    color: #fff;
}
.white p {
    color: #fff;
}
.Testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.Testimonials .content .box {
    width: 340px;
    margin: 20px;
    background: #fff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Testimonials .content .box .imgBx {
    position: relative;
    width:80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.Testimonials .content .box .imgBx img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.Testimonials .content .box .text {
    text-align: center;

}
.Testimonials .content .box .text p {
    color: #666;
    font-style: initial;
}
.Testimonials .content .box .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    font-weight: 600;
    color:#ff0157;
}

.contact {
    background: url(picture/bggg.jpg);
    background-size: cover;
    
}
.contactForm {
    padding : 75px 50px ;
    background: #fff;
    box-shadow: 0 15px 50px rgb(0,0,0,0.35);
    max-width: 500px;
    margin: 50px;
}
.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input, textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color:#111;
    outline:none;
    font-size: 17px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border:none;
    max-width: 100px;
    font-weight: 500;
    cursor:pointer;
    transition: 0.5s;
}
.copyrightText {
    padding: 9px 45px;
    border-top: 1px solid #111;
    text-align: center;
}
.copyrightText p {
    color: #333;
}
.copyrightText p a {
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}











@media (max-width: 991px) {

    header , header.sticky {
        padding: 17px 19px;
        
    }
    header .navigation{
        display: none;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(picture/list.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position:center;
        filter: invert(1);

    }
    .menuToggle.active {
        background: url(picture/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position:center;
    }
    .sticky .menuToggle {
        filter: invert(0);

    }

    header .navigation.NActive {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 67px;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation.NActive li {
        margin-left: 0;
    }
    header .navigation.NActive li a {
        text-decoration: none;
        color: #111;
        font-size: 1.7em;
        font-weight: 700;
    }
    section {
        padding: 15px;
    }
    .row .content {
        position: relative;
        width:100%;
        margin-bottom: 20px;
    }
    .row .image {
        position: relative;
        width: 100%;
    }
    .row {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        overflow: hidden;
        flex-direction: column;
    }
    .expert .content .box {
        width: 340px;
        margin: 10px;
    }
    .expert .content .box .imgBx {
        
        height: 250px;
    }
    .menu .content .box {
        margin: 7px;
    }
    .menu .content .box .imgBx {
       
        height: 250px;
    }



    
}